<div class="bodyHeader">
    <table class="unstyled">
      <tr>
        <td class="w15">
          <h1 class="secondary text-right"><a href="#" data-component="offcanvas" data-target="#offcanvas-left" class="noline"><i class="kube-menu"></i></a></h1>
        </td>
        <td class="w60">
          <div class="row">
          <div class="col push-middle">
            <h1 class="title text-center">
              Get Bit
            </h1>
          </div>
          </div>
        </td>
        <td class="w15">
          <img src="/static/images/logo.png" alt="Get Bit logo" class="logo text-left" height="50" width="50">
        </td>
      </tr>
    </table>
</div>


<div id="offcanvas-left" class="hide">
    <nav>
        <ul>
            <li><a href="/accounts/update" class="large muted">Update Account</a></li>
            <li><a href="/accounts/logout" class="large muted">Logout</a></li>
        </ul>
    </nav>
</div>
