<nav class="tabs" data-component="tabs" data-equals="true">
  <ul>
    <li class="active"><a href="">Bits</a></li>

    <li><a href="">Performances</a></li>
  </ul>
</nav>

<div id="Bits"></div>
<div id="Performances"></div>
