<nav class="tabs" data-component="tabs" data-equals="true">
  <ul>
    <% if (onBits) { %>
      <li class="active"><a href="/bits/<%= userID %>">Bits</a></li>

      <li><a href="/performances/<%= userID %>">Performances</a></li>
    <% } else { %>
      <li><a href="/bits/<%= userID %>">Bits</a></li>

      <li class="active"><a href="/performances/<%= userID %>">Performances</a></li>
    <% }%>

  </ul>
</nav>

<!-- <div id="Bits"></div> --!>
<!-- <div id="Performances"></div> --!>
