<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>
    <title>Get Bit</title>
</head>

<body>
  <h1>Bits</h1>

  <div class="container">

    <div class="row">
      <div class="col col-sm-12">
        <ul>
          <% jokes.forEach(function(joke) { %>
            <li><strong>Title:</strong>
              <%= joke.joke_title %>
            </li>
            <li><strong>Label:</strong>
              <%= joke.label %>
            </li>

            <% }); %>

        </ul>
      </div>
    </div>

</body>
<% include ./partials/footer.ejs %>

</html>
