<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header.ejs %>
    <title>Get Bit</title>
  </head>
  <body>
    <div class="row gutters align-center">
      <div class="col">
      </div>
      <div class="col">
        <h1 class="title text-center">Get Bit</h1>
        <img src="/static/images/logo.png" alt="Get Bit logo" class="w100 logo">
      </div>
    </div>
    <div class="row gutters align-center">
      <div class="col">
        <a href="/accounts/login" class="button round secondary large w100 text-center">Login</a>
      </div>
      <div class="col">
        <a href="/accounts/create" class="button round secondary large w100 text-center">Create Account</a>
      </div>
    </div>
  </body>
  <% include ./partials/footer.ejs %>
</html>
