<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header.ejs %>
    <title>Get Bit - Login</title>
  </head>
  <body>
    <% include ./partials/bodyHeader.ejs %>
    <fieldset>
      <legend>Login</legend>
      <form method="post" action="/accounts/login" class="form">
        <div class="form-item">
          <label>email</label>
          <input type="email" name="email">
        </div>
        <div class="form-item">
          <label>password</label>
          <input type="password" name="password">
        </div>
        <button class="button secondary round">Submit</button>
      </form>
    </fieldset>
  </body>
  <% include ./partials/footer.ejs %>
</html>
