<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>
    <title>Get Bit - New Bit</title>
</head>

<body>
  <% include ./partials/bodyHeader.ejs %>
    <% include ./partials/tabs.ejs %>

      <div class="row align-center">
        <form class="form w50 w100-sm">
          <div class="form-item">
            <label>Title</label>
            <input type="title" name="joke_title" placeholder="Title" class="w100">
          </div>
          <div class="form-item">
            <label>Body</label>
            <textarea col="12" row="12" name="body" placeholder="Bit body"></textarea>
          </div>
          <label> Tag</label>
          <div class="form-item">
            <input type="tags" name="tags" class="w100">
          </div>
          <div class="append">
            <select id="labelSelect">
          </select>
            <button class="button outline" id="addSelectButton">+</button>
          </div>
          <p></p>

          <div class="form-item">
            <label><center>Label</center></label>
            <select id="labelSelect">
                <option value =""></option>
              <% labels.forEach((lab) => { %>
                <% if (lab.label) { %>
                <option value="<b%= lab.user_id %>" id="b<%=lab.user_id%>">
                  <%= lab.label %>
                </option>
                <% } %>
              <% }); %>
            </select>


        </form>
        </div>
        <button class="button large w100">Save</button>
        <p></p>
        <button class="button large secondary w100">Ditch</button>
        <p></p>
      </div>
</body>
<% include ./partials/footer.ejs %>
<script src="/static/js/newBit.js" type="text/javascript"></script>

</html>
