<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>
    <title>Get Bit - New Bit</title>
</head>

<body>
  <% include ./partials/bodyHeader.ejs %>
    <% include ./partials/tabs.ejs %>

      <div class="row align-center">
        <form class="form w50 w100-sm">
          <div class="form-item">
            <label>Title<span class="req" id="joke_titleReq">*</span></label>
            <input type="title" name="joke_title" placeholder="Title" class="w100" id="joke_title">
          </div>
          <div class="form-item">
            <label>Body<span class="req" id="bodyReq">*</span></label>
            <textarea col="12" row="12" name="body" placeholder="Bit body" id="body"></textarea>
          </div>
          <label> Tag</label>
          <div class="form-item">
            <input type="tags" name="tags" class="w100" id="tag">
          </div>
          <div class="append">
            <select id="tagSelect">
          </select>
            <button class="button outline" id="tagSelectButton">+</button>
          </div>
          <p></p>

          <div class="form-item">
            <label><center>Label</center></label>
            <select id="labelSelect">
                <option value =></option>
              <% labels.forEach((lab) => { %>
                <% if (lab.label) { %>
                <option value="<%= lab.label %>" id="label">
                  <%= lab.label %>
                </option>
                <% } %>
              <% }); %>
            </select>
        </form>
        </div>

        <button class="button large w100" id="saveButton">Save</button>
        <p></p>
        <button class="button large w100 secondary" id="ditchButton" value="/bits/<%=userID %>">Ditch</button>
        <p></p>
      </div>
</body>
<% include ./partials/footer.ejs %>
<script src="/static/js/newBit.js" type="text/javascript"></script>

</html>
