<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>
    <title>Get Bit</title>
</head>

<body>
  <% include ./partials/bodyHeader.ejs %>
    <% include ./partials/tabs.ejs %>

      <div class="row align-center">
        <form method="post" action="submit" class="form">
          <div class="form-item">
            <label>Title</label>
            <input type="title" name="joke_title" placeholder="Title" class="w100">
          </div>
          <div class="form-item">
            <label>Body</label>
            <textarea col="12" row="12" name="body" placeholder="Bit body"></textarea>
          </div>
          <div class="form-item">
            <label>Tag</label>
            <div class="append">
              <select id="labelSelect">
                    <option value="">
                    </option>

                </select>
              <button class="button outline" id="addSelectButton">+</button>
            </div>
          </div>
          <div class="form-item">
            <label>Label</label>
            <div class="append">
              <select id="labelSelect">
                    <option value="">
                    </option>
                </select>
              <button class="button outline" id="addSelectButton">+</button>
            </div>
          </div>

        </form>
      </div>
      <div class="row align-center">
        <button class="button secondary" id="ditchButton" value="/bits/<%= userID %>">Ditch</button>
        <p class="show-sm"></p>

        <p class="show-sm"></p>
        <button value="" id="saveButton">Save</button>
      </div>
</body>
<% include ./partials/footer.ejs %>

</html>
