<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>
    <title>Get Bit - Performances</title>
</head>

<body>
  <% include ./partials/bodyHeader.ejs %>
  <% include ./partials/tabs.ejs %>
      <div class="row align-center">
        <button class="button secondary round w50 w100-sm">New Performance</button>
      </div>
      <p></p>
      <div class="row align-center">
        <form class="form w50 w100-sm">
          <div class="form-item">
            <input type="text" class="search">
          </div>
        </form>
      </div>

      <div class="row align-center">
        <ul class="unstyled">
          <% pers.forEach((per) => { %>
          <% let starKey = per.rating %>
          <% let perDate = new Date(per.date) %>
          <% let dateString = `${perDate.getMonth() + 1}/${perDate.getDate()}/${perDate.getFullYear()}`; %>
          <li><a href="/performances/<%= userID %>/<%= per.per_id %>" class="noline"><%= per.per_title %> - <% include ./partials/stars.ejs %> - <%= dateString %></a></li>
          <% }); %>
        </ul>
      </div>


</body>
<% include ./partials/footer.ejs %>
<script>

</html>
