<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>
    <title>Get Bit - Performances</title>
</head>

<body>
  <% include ./partials/bodyHeader.ejs %>
  <% include ./partials/tabs.ejs %>
      <div class="row align-center">
        <a href="/performances/new" class="button secondary round w50 w100-sm text-center">New Performance</a>
      </div>
      <p></p>
      <div class="row align-center">
        <form class="form w50 w100-sm">
<!--          <div class="form-item">
            <input type="text" class="search" id="searchBar">
          </div>
        </form>
      </div>
-->
      <div class="row align-center">
        <dl>
          <% pers.forEach((per) => { %>
          <% let starKey = per.rating %>
          <% let perDate = new Date(per.date) %>
          <% let dateString = `${perDate.getMonth() + 1}/${perDate.getDate()}/${perDate.getFullYear()}`; %>
          <dt class="large"><a href="/performances/<%= per.per_id %>"><%= per.per_title %>- <%= dateString %></a></dt>
          <dd class="large"><% include ./partials/stars.ejs %></dd>
          <% }); %>
        </dl>
      </div>


</body>
<% include ./partials/footer.ejs %>
<script src="/static/js/pers.js" type="text/javascript"></script>

</html>
