<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header.ejs %>
    <title>Get Bit</title>
  </head>
  <body>
      <% include ./partials/bodyHeader.ejs %>
    <h1>Review Bit</h1>
  </body>
  <% include ./partials/footer.ejs %>
</html>
