<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header.ejs %>
    <title>Get Bit - Update Account</title>
  </head>
  <body>
    <% include ./partials/bodyHeader.ejs %>
    <fieldset>
      <legend>Update</legend>
      <form id="updateForm">
        <div class="form-item">
          <label>email</label>
          <input type="email" name="email" value="<%= account.user_name %>" id="emailField">
        </div>
        <div class="form-item">
          <label>photo (url)</label>
          <input type="url" name="photo_url" value="<%= account.photo_url %>" id="photoField">
        </div>
        <div class="form-item">
          <label>password</label>
          <input type="password" name="password" id="password1">
        </div>
        <div class="form-item">
          <label>verify password</label>
          <input type="password" name="password" id="password2">
        </div>
        <button class="button secondary round" id="updateButton">Update</button>
      </form>
    </fieldset>
  </body>
  <% include ./partials/footer.ejs %>
  <script src="/static/js/updateAccount.js" type="text/javascript"></script>
</html>
